<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name="NAUser.Catalog"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Organization.ui.login.RecoverPasswordOrg"
            android:exported="false" />
        <activity
            android:name=".Organization.ui.login.Error.ErrorUncorrectPassword"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Organization.ui.login.Error.ErrorNoLogin"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Organization.ui.login.AvtorizeOrg"
            android:exported="false" />
        <activity
            android:name=".Organization.ui.login.Error.ConnectToManager"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Organization.ui.login.Error.ErrorEnter"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".ByerRegister.ui.login.RegisterOrg"
            android:exported="false" />
        <activity
            android:name=".ChooseRegOrAvt"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePage7ChooseCity"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePage6"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePage5ChooseRole"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePage4"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePage3"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePage2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>